@font-face {
    font-family: rob;
    src: url('../fonts/Roboto-Regular.ttf');
}


* {outline: none}

a{color: #3399cc;text-decoration: underline;}
a:hover{text-decoration: none!important;}
a:focus{text-decoration: none!important;}
html{ height: 100%;}
body{font: 16px rob;outline: none;  height: 100%; color: #666666;}
p{font: 16px rob;}
footer{ margin: 0 auto;}
header ul, footer ul{margin: 0;padding: 0;list-style: none;}
a{  font-family: rob;
    font-size: 16px;
    text-decoration: none;
    color: #2f2f2f;
}
p{
    font-family: rob;
    font-size: 16px;
    line-height: 24px;
    color: #2f2f2f;
}

img{max-width: 100%; height: auto;}

/*TOP_HEAD*/
.top-head{padding: 30px 0; display: flex; align-items: center; justify-content: space-between;}
.left-phone-address a{ font: 16px rob; font-weight: bold;}
.wrapper-search{position: relative;}
.wrapper-search input{width: 260px; height: 32px; border: 1px solid #000; padding-left: 15px; border-radius: 4px; font: 16px rob; color:#2f2f2f;}
.wrapper-search button{width: 35px; height: 32px; background: none; display: flex; align-items: center; justify-content: center; border: 1px solid #000; position: absolute; top:0; right:0; border-radius:0 4px 4px 0}
.menu{background: #303030; position: relative; max-height: 75px;}
.menu .container{display: flex; align-items: center; justify-content: space-between;max-height: 75px;}
.big-menu{display: flex; align-items: center; justify-content: center;}
.big-menu li{padding-right: 40px;}
.big-menu li a{color: #fefefe;}
.big-menu:last-child li{padding-left: 40px; padding-right: 0}
.wrapper-logo{position: relative; left: 0; right: 0; margin: 0 auto; top: -25px;}
.hidd-menu{width: 1140px; padding: 25px 65px; background: #ffffff; position: absolute; left: -205%; right:0; margin:0 auto;z-index:1; top:55px; padding-bottom: 0;}
.hidd-menu.sec{left: -330%;}
.hidd-menu.sec:after{left: 26.5%;}
.hidd-menu .title-list{color: black; font-weight: bold; text-transform: uppercase; display: block; font-size: 14px;}
.hidd-menu ul{padding-left: 15px;margin: 10px 0;}
.hidd-menu ul li{padding: 0; margin-bottom: 7px;}
.hidd-menu ul li a{color: black; font-size: 14px;}
.hidd-menu ul li a:hover{color: #2a60e8; text-decoration: underline!important;}
.item-nav{margin: 25px 0;}
.hidd-menu:after{
    content: "";
    position: absolute;
    left: 17.5%;
    top: -33px;
    border: 20px solid transparent;
    border-bottom: 20px solid white;
    pointer-events: none;
}
.big-menu li.active{position: relative;padding-top: 20px; padding-bottom: 20px;}
.hidd-menu{display: none;}
.big-menu li.active:hover .hidd-menu{display: block}
.under-header{background: url(../img/under-head-bg.png); padding: 57px 0; padding-bottom: 0; margin-top: 10px;}
.wrapper-part{display: flex; align-items: center; justify-content: flex-start;}
.title-under-head{font: 20px rob; font-weight: bold; color: white; margin-bottom: 30px;}
.part-ul{list-style: none; padding: 0;}
.part-ul li{padding: 9px 0;}
.part-ul li a{font: 16px rob; color: white;}
.part-ul li a:hover{text-decoration: underline!important;}
.left-part{margin-right: 40px;}
.right-part.fix{}
.left-part.fix{margin-right: 0;margin-left: 40px;}
.left-part.fix .title-under-head{text-align: right;}
.left-part.fix .part-ul{text-align: right;}
.wrapper-part.fix{justify-content: flex-end;}
.about-company{padding: 57px 0;}
.section-title{font: 24px rob!important; font-weight: bold; line-height: 28px; color: black; text-transform: uppercase; margin-bottom: 40px;}
.about-company p{font-size: 14px;}
.items-about{padding: 50px; display: flex; flex-wrap: wrap; padding-top: 100px;}
.item-about{width: 50%; text-align: center; padding-bottom: 24px; padding-right: 50px;}
.item-about:nth-child(1){border-right: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.item-about:nth-child(3){border-right: 1px solid #ccc; }
.item-about:nth-child(2){border-bottom: 1px solid #ccc;}
.item-about:nth-child(3),.item-about:nth-child(4){padding-top: 24px; padding-bottom: 0;}
.item-about:nth-child(2),.item-about:nth-child(4){padding-left: 50px; padding-right: 0;}
.item-about p{font: 16px rob; font-weight: bold; color: #666666;}
.wr-img{min-height: 77px;}
.news{padding: 57px 0; background: #f4f4f4;}
.wrapper-title-section{display: flex;align-items: center; justify-content: space-between; margin-bottom: 40px;}
.wrapper-title-section .section-title{margin: 0;}
.all-news{font: 14px rob; color: #999999; padding: 8px 15px; border: 1px solid #999999; text-transform: uppercase; border-radius: 4px; transition: all .2s;}
.all-news:hover{color: #000000; border: 1px solid #000;}
.title-news{font: 16px rob; font-weight: bold; min-height: 42px;}
.text-news{font: 14px rob; color: black; margin: 20px 0; line-height: 24px; min-height: 72px;}
.href-news{font: 14px rob; color: #2658d4; text-decoration: underline;}
.item-news:hover .title-news{color: #2a60e8; text-decoration: underline;}
.article{padding: 57px 0;}
.item-article{background: #f4f4f4; max-width: 325px; border: 1px solid #cccccc; margin-bottom: 80px;}
.acticle-title{font: 16px rob; font-weight: bold; min-height: 42px;}
.wrapper-articles{display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap;}
.text-acticle{padding-left: 15px; padding-right: 15px;}
.item-article:hover .acticle-title{color: #2a60e8; text-decoration: underline;}
.author{font: 18px rob; font-weight: bold; color: black;}
.cont-rewiew{border: 1px solid #cccccc; border-radius: 5px; padding: 55px 45px; position: relative; background: url(../img/bg-com.png) no-repeat; background-position: center;}
.date-rewiew{margin-bottom: 0; font: 14px rob; color: #666666;}
.cont-rewiew .text{font: 14px rob; font-style: italic; color: black; margin-top: 0;}
.cont-rewiew:after{
    content: "";
    position: absolute;
    left: 6.5%;
    top: -13px;
    width: 23px;
    height: 13px;
    background: url(../img/bg-after.png),white;
}
.rewiews-wrapper-inner .slick-dots{display: flex; justify-content: center; list-style: none; padding: 0; margin-top: 40px;}
.rewiews-wrapper-inner .slick-dots li button{font-size: 0; border: none; width: 14px; height: 14px; background: #cccccc; border-radius: 50%; margin: 0 10px;}
.rewiews-wrapper-inner .slick-dots li.slick-active button{background: #fd1720;}
footer{background: #303030; padding: 55px 0;}
.item-footer p{font: 14px rob; color: white; margin: 25px 0;}
.item-footer .big-ul li a{color: white;}
.item-footer .big-ul li{padding-bottom: 10px;}
.item-footer .big-ul li a{font: 16px rob; font-weight: bold; text-transform: uppercase;}
.item-footer .little-ul li a{color: white; font-size: 14px;}
.item-footer .little-ul li{padding-bottom: 5px;}
.item-footer .title-footer-ul a{font: 16px rob; font-weight: bold; color: white; text-transform: uppercase;}
.wrapper-footer-items{display: flex; align-items: flex-start; justify-content: space-between;}
.title-footer-ul{margin-top: 0!important;margin-bottom: 16px!important}
.phone-footer{font: 14px rob; font-weight: bold; color: #ff161f; display: block; margin-bottom: 10px;}
.email{font: 14px rob; color: white;}
.email:hover, .phone-footer:hover{color: white;}
.cop span{font: 14px rob; color: white; display: block; margin: 10px 0;}


/*CATALOG*/

.breadcrumbs{padding: 50px 0; padding-bottom: 30px;}
.breadcrumbs ul{padding: 0; list-style: none; display: flex; align-items: center; border-bottom: 1px solid #cccccc; margin-bottom: 0;}
.breadcrumbs ul li a{color: #333; font: 14px rob; padding-right: 35px; position: relative;}
.breadcrumbs ul li a:after{content: ""; width: 4px; height: 6px; background: url(../img/after-bread.png); position: absolute; right: 15px; top: 8px;}
.breadcrumbs ul li:last-child a:after{content: none;}
.breadcrumbs ul li:last-child a{color: #999999; pointer-events: none;}
.title-cat{font: 16px rob; font-weight: bold; text-transform: uppercase; padding-bottom: 10px; border-bottom: 1px solid #ccc;}
.cat-ul{padding: 0; list-style: none;}
.cat-ul li{font: 16px rob; color: #000; padding: 5px 0;}
.cat-ul li a:hover{text-decoration: underline!important;color: #2a60e8;}
.catalog-item{margin-bottom: 30px;}
.catalog-item p{font: 16px rob; color: #000; text-align: center;}
.calatog-wr-img{position: relative; border: 1px solid #cccccc;}
.desc-catalog{transition: all .3s; position: relative; }
.calatog-wr-img:after{content: ''; width: 100%; height: 100%; position:absolute; bottom: 0; background: linear-gradient(to top, white, transparent); transition: all .3s; opacity: 0;}
.catalog-item:hover .desc-catalog{margin-top: -30px;}
.catalog-item:hover .calatog-wr-img:after{opacity: 1;}
.separ{width: 100%; height: 10px; background: #f4f4f4; margin-top: 30px; margin-bottom: 60px;}
.text-seo{padding: 57px 0;}
.catalog{padding-bottom: 57px;}
.wrapper-seo-text{position: relative; padding-bottom: 20px;}
.more{color: #2a60e8; text-decoration: underline; position: absolute; bottom: 0; cursor: pointer;}
.more-text{display: none;}
.inner-pagination{display: flex; justify-content: center; align-items: center; list-style: none;}
.inner-pagination a{font: 16px Roboto;}
.prev-pag, .next-pag{display: block; width: 8px; height: 14px;}
.prev-pag{background: url(../img/prev-ar.png) no-repeat center;}
.inner-pagination .prev-pag:hover{background: url(../img/prev-ar-hover.png) no-repeat center; transform: rotate(180deg); cursor: pointer;}
.next-pag{background: url(../img/prev-ar.png) no-repeat center; transform: rotate(180deg);}
.inner-pagination .next-pag:hover{background: url(../img/prev-ar-hover.png) no-repeat center; transform: rotate(360deg); cursor: pointer;}
.inner-pagination li{margin: 0 9px; width: 30px; height: 30px; border-radius: 50%; display: flex; align-items: center; justify-content: center;}
.inner-pagination li.active{color: white; background: #2a60e8;}
.inner-pagination li.active a{color: white;}
.inner-pagination li:hover{background: #f4f4f4;}
.inner-pagination li:hover a{color: #2a60e8;}
.inner-pagination li.active:hover a{color: white;}
.inner-pagination li.active:hover{background: #2a60e8;}
.pagination{padding-bottom: 60px;}
.inner-titles-pages ul{padding: 0; display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap; list-style: none;}
.inner-titles-pages ul li{ background: #f4f4f4; transition: all .2s; margin-bottom: 15px; min-width: 255px; margin-right: 29px; border-radius: 5px;}
.inner-titles-pages ul li:nth-child(4){margin-right: 0;}
.inner-titles-pages ul li a{width: 100%; height: 100%; padding: 15px 40px; display: block; color: #666666;}
.inner-titles-pages ul li:hover{background: #ff1621;}
.inner-titles-pages ul li:hover a{color: white; }
.item-product{padding: 30px; border: 1px solid #cccccc; border-radius: 4px; margin-bottom: 30px; transition:  all .3s;}
.item-product:hover .hammer, .item-product:hover .stock{left: -10px;}
.item-product:hover{background: #f4f4f4;}
.title-product{font: 17px rob; color: #000;}
.is-here-price-wrapper{display: flex; justify-content: space-between;}
.is-here, .price{margin: 0;}
.is-here{position: relative; padding-left: 25px; font: 14px rob; color: #13ab22;}
.is-here:after{content: ""; width: 18px; height: 18px; background: url(../img/is-here.png); position: absolute; left: 0; top: 3px;}
.price{font: 17px rob; font-weight: bold; color: #000;}
.item-product-img{position: relative;}
.hammer{position: absolute; left: -15px; top: 25px; transition: all .3s;}
.stock{position: absolute; left: -15px; top: 75px; transition: all .3s;}
.hammer:hover, .stock:hover{left: -10px;}
.fix-article{background: #f4f4f4; padding: 57px 0;}
.fix-article .item-article{margin-bottom: 0;}
.card-product{padding-bottom: 57px;}
.little-slider{margin-top: 17px;}
.little-slider a, .big-slider a{outline: none; cursor: pointer;}
.little-slider a.slick-current.slick-active{position: relative; padding-bottom: 10px;}
.little-slider a.slick-current.slick-active:after{content: ''; width: 86%; height: 1px; background: #000; position: absolute; bottom: 0px;}
.title-left{font: 16px rob; color: #000; }
.big-price{font: 24px rob; font-weight: bold;}
.item-deliver{display: flex; align-items: center; justify-content: space-between; margin-bottom: 15px;}
.item-deliver p{margin: 5px 0;}
.is-here-new{color: #13ab22;}
.count-wrapper{display: flex; justify-content: space-between; align-items: center;}
.count-wrapper input{max-width: 55px; height: 30px; border: 1px solid #ccc; border-radius: 4px; text-align: center;}
.minus, .plus{font-size: 26px; line-height: 22px; padding: 0 5px; cursor: pointer;}
.minus:hover, .plus:hover{color: #2a60e8;}
.oplata-item ul{padding-left: 20px; margin: 10px 0; margin-bottom: 20px;}
.wrapper-all{display: flex; justify-content: space-between;}
.price-delivery{min-width: 355px; margin-right: 100px;}
.title-opalta{font: 14px rob; font-weight: bold; color: #000; margin: 5px 0;}
.oplata-item ul li{font-size: 14px; color: #999999; line-height: 24px;}
.wrapper-deliv{border-bottom: 2px solid #e7e7e7;}
.wrapper-btn{margin-top: 30px;}
.wrapper-btn .buy, .wrapper-btn .one-click{font-size: 16px; text-transform: uppercase; padding: 14px 34px;}
.wrapper-btn .buy{background: white; border: 2px solid #ea000b; color: #ea000b; transition: all .3s; border-radius: 4px;}
.wrapper-btn .one-click{background: white; border: 2px solid #2a60e8; color: #2a60e8; transition: all .3s; border-radius: 4px; padding: 14px 15px;}
.wrapper-btn .buy:hover{background: #ea000b; color: white;}
.wrapper-btn .one-click:hover{background: #2a60e8; color: white;}
.installation{padding: 24px; background: #f4f4f4; margin-top: 30px;}
.installation a{color: #2a60e8; text-decoration: underline;}
.just-call{font: 16px rob; color: #000; font-weight: bold;}
.wrapper-charact-rewiews{margin-top: 30px;}
.characteristics-title{font-size: 16px; font-weight: bold; color: #000; border-bottom: 1px solid #ccc;}
.characteristics-item{ font: 14px rob; color: black; font-weight: bold;}
.characteristics-item span{font-weight: 100; line-height: 28px;}
.top-name-wrapper{ display: flex; justify-content: space-between; align-items: center;}
.top-name-wrapper p{font-size: 14px; font-weight: bold; color: #000; margin-top: 0;}
.inner-rewiew-text{font-size: 14px; font-style: italic; color: #000;}
.date-r{font-size: 14px; color: #666666;}
.item-charac-rewiew{margin-bottom: 30px;}
.leave-rewiew{
        background: white;
    border: 2px solid #ea000b;
    color: #ea000b;
    transition: all .3s;
    border-radius: 4px;
        font-size: 14px;
    text-transform: uppercase;
    padding: 8px 17px;
    margin-right: 20px;
}
.all-rewiew{
        background: white;
    border: 2px solid #2a60e8;
    color: #2a60e8;
    transition: all .3s;
    border-radius: 4px;
    padding: 8px 17px;
    font-size: 14px;
    text-transform: uppercase;
}
.leave-rewiew-new{
        background: white;
    border: 2px solid #ea000b;
    color: #ea000b;
    transition: all .3s;
    border-radius: 4px;
        font-size: 14px;
    text-transform: uppercase;
    padding: 14px 18px;
    margin-right: 20px;
}
.all-rewiew-new{
        background: white;
    border: 2px solid #2a60e8;
    color: #2a60e8;
    transition: all .3s;
    border-radius: 4px;
    padding: 14px 20px;
    font-size: 14px;
    text-transform: uppercase;
}
.bottom-nav-btn-new{margin: 50px 0;}
.leave-rewiew:hover{background: #ea000b; color: white;}
.all-rewiew:hover{background: #2a60e8; color: white;}
.with-this-product{padding-bottom: 57px;}
.example-product{padding-bottom: 57px;}
.rew-new{display: flex; align-items: center; justify-content: space-between;}
.rew-new p{font-size: 14px; font-weight: bold; color: #000;}
.rew-new p a{font-weight: 100; color: #2a60e8; text-decoration: underline;}
.what-u-can{margin-top: -5px;  color: #000; line-height: 28px;}
.what-u-can a{color: #2a60e8; text-decoration: underline;}
.try-call{font-size: 24px; font-weight: bold; color: #000;}
.separator-panel{display: flex; align-items: center; justify-content: space-between; margin-top: 30px; background: #f4f4f4; padding: 15px 35px;}
.panel-item{display: flex; align-items: center; justify-content: space-between;}
.panel-item img{margin-right: 15px;}
.panel-item p{color: #ff1520; font-weight: bold;}
.panel-item.first{font-size: 14px; color: #000; line-height: 28px;}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.logo-hid{display: none;}
.menu-show{position: fixed; right: 20px; top: 20px; z-index: 1; display: none;}
.showed{display: none;}








@media only screen and (max-width:1199px){
    .wrapper-articles{justify-content: space-around;}
    .wrapper-part{justify-content: center;}
    .wrapper-part.fix{justify-content: center;}
    .under-header{background-size: 100% 100%;}
    .under-header .container .row .col-md-6{width: 100%;}
    .super-wrapper section{padding: 37px 0;}
}
@media only screen and (max-width:990px){
    .menu-show{display: block;}
    .menu{display: none;}
    .logo-hid{display: block; max-width: 100px;}
    .item-news{text-align: center;}
    .text-news, .title-news, .href-news{min-height: inherit; text-align: left;}
    .wrapper-footer-items{flex-wrap: wrap; justify-content: center;}
    .item-footer{width: 50%; display: flex; flex-direction: column; align-items: center; margin-bottom: 30px;}
    footer{padding: 35px 0;}
    .super-wrapper section.breadcrumbs{padding: 15px 0;}
    .top-head{padding-bottom: 10px;}
    .calatog-wr-img{text-align: center;}
    .item-product-img{text-align: center;}
    .calatog-wr-img:after{left: 0;}
    .big-slider a img{margin: 0 auto;}
    .little-slider a img{margin: 0 auto;}
    .wrapper-all{margin-top: 30px;}
    .separator-panel{flex-direction: column;}
    .separator-panel img{transform: rotate(90deg);}
    .separator-panel .panel-item img{transform: rotate(0);}
    .big-slider-new{text-align: center; margin-bottom: 20px;}
}
@media only screen and (max-width:768px){
    .right-part{display: none;}
    .title-under-head{margin-bottom: 0;}
    .under-header .container .row{display: flex;}
    .inner-pagination{padding: 0;}
    .inner-pagination li{margin: 0 2px;}
    .wrapper-all{flex-wrap: wrap;}
    .price-delivery{margin-right: 0; margin-bottom: 30px;}
}

@media only screen and (max-width: 680px){
    .part-ul li{padding: 0;}
    .super-wrapper section{padding: 15px 0;}
    .item-footer{width: 100%; align-items: flex-start; padding-left: 40px;}
    .wrapper-footer-items{justify-content: flex-start;}
    .top-head{flex-wrap: wrap;}
    .left-phone-address{width: 100%;}
    .top-head{padding: 15px 0;}
    .left-part.fix .part-ul{text-align: left;}
    .left-part.fix .title-under-head{text-align: left;}
    .under-header{background: #303030;}
    .leave-rewiew-new{padding: 14px 8px;}
    .all-rewiew-new{padding: 14px 8px;}
}
@media only screen and (max-width:480px){
    .under-header .container .row{flex-wrap: wrap;}
    .left-part.fix{margin-left: 0;}
    .logo-hid{margin-bottom: 15px;}
    .items-about{padding: 0;}
    .price-delivery{min-width: inherit;}
    .wrapper-btn .one-click{padding: 14px 4px;}
    .leave-rewiew, .all-rewiew, .all-rewiew-new, .leave-rewiew-new{font-size: 11px;}
}

